# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build / distribution
build/
dist/
*.egg-info/